unsafe-perm=true
engine-strict=true
registry=https://registry.npmjs.org/
@tridion-sites:registry=https://nexus.sdl.com/repository/npm-internal/
email=noreply@sdl.com
always-auth=true
//nexus.sdl.com/repository/npm-internal/:_auth="bnBtLWRlcGxveWVyOlRyMWQxMG4="
